header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0px;
}
header .headerSearch {
    width: 100%;
    height: 60px;
    border: 1px solid #bce3c9;
    padding: 10px 20px;
}
header .headerSearch .selectDropdown {
    width: 18%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
header .headerSearch .selectDropdown::after{
    content: '';
    width: 1px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    right: 0px;
}
header .headerSearch .search{
    width: 76%;
    padding-left: 30px;
    position: relative;
}
header .headerSearch .search input{
    width: 100%;
    height: 35px;
    border: 0px;
    outline: none !important;
    font-size: 18px;
}
header .headerSearch .search .searchIcon{
    position: absolute;
    top: 5px;
    right: 0px;
    opacity: 0.5;
    font-size: 30px !important;

}